<div class="max-w-3xl mx-auto p-4">
  <div class="flex justify-between items-center mb-8">
    <h1 class="text-2xl font-bold">My Todo List</h1>
    <div>
      <%= link_to "New Todo", new_todo_item_path, class: "bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded mr-2" %>
      <%= link_to "New Section", new_section_todo_item_path, class: "bg-gray-500 hover:bg-gray-600 text-white px-4 py-2 rounded" %>
    </div>
  </div>

  <% if @all_items.empty? %>
    <div class="text-center py-8 bg-gray-50 rounded-lg">
      <p class="text-gray-500">You don't have any todos yet. Create a new todo to get started!</p>
    </div>
  <% else %>
    <div data-controller="sortable" 
         data-sortable-url-value="<%= reorder_todo_items_path %>"
         class="space-y-2">
      <% @all_items.each do |item| %>
        <% if item.is_section? %>
          <div data-sortable-target="item" data-id="<%= item.id %>" class="section mb-4">
            <%= render 'sections/section', section: item %>
          </div>
        <% else %>
          <div data-sortable-target="item" data-id="<%= item.id %>" class="relative group <%= 'ml-6' if item.section %>">
            <%= render 'todo_items/todo_item', todo_item: item %>
            <div class="absolute right-4 top-0 bottom-0 flex items-center opacity-0 group-hover:opacity-100 transition-opacity duration-200">
              <%= link_to edit_todo_item_path(item), class: 'text-blue-500 hover:text-blue-700 mr-3' do %>
                <i class="fas fa-edit text-lg"></i>
              <% end %>
              <%= link_to todo_item_path(item), method: :delete, data: { turbo_method: :delete, confirm: 'Are you sure?' }, class: 'text-red-500 hover:text-red-700' do %>
                <i class="fas fa-trash text-lg"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>